/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}




body {
  font-family: 'Open Sans Condensed', sans-serif;
  background-color: #e8e8e8;
  margin: 0;
}

header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	background-color: #47569C;
	padding: 1em 0;
	height: 1em;
	font-size: 1em;
	z-index: 2;
}

nav {
	position: absolute;
	left: 1%;
}

a {
	color: white;
	text-decoration: none;
	padding: 1em;
}

.a-menor {
display: block;
}

a:hover {
	color: yellow;
}

.a-colorido:hover {
	background-color: #47569C;
}

img.largura-total {
	width: 100%;
	margin: 0;
	display: block;
}

article {
  color: #000000;
	width: 100%;
  margin: 0 auto;
	position: relative;
	top: 0;
	left: 0;
}

section {
	width: 50%;
	box-sizing: border-box;
	padding: 5%;
	position: absolute;
}

section.content {
position: absolute;
left: 0;
top: 100%;
margin: 0 auto;
}

section.fotos {
	position: absolute;
	left: 50%;
	top: 100%;
	width: 30%;
}

h1 {
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: lighter;
  font-size: 50px;
  text-decoration: none;
  padding-bottom: 2%;
  padding-top: 3%
}

h2 {
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: lighter;
  font-size: 35px;
  padding-bottom: 1%
}

h3 {
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: lighter;
  font-size: 17px;
  padding-bottom: 2%
}

p {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 23px;
  padding-bottom: 2%;
  text-align: justify;
}

span {
  color: 	 #9d0000;
}

b {
  font-weight: 600;
}

i {
  font-style: italic;
}

.submenu {
	position: absolute;
	top: 2em;
	left: 0;
	right: auto;
	display: none;
	background-color: #47569C;
	padding: 1em;
	font-size: 1em;
}

.main li:hover ul {
	display: block;
}

.main li {
	display: inline;
	position: relative;
}

.submenu li {
	display: block;
}
